<!DOCTYPE HTML>
<html>
	<head>
		<title>Overkill.io</title>
		<meta charset="utf-8" />
		<style type="text/css">
			body {
				background-image: url(bg.png);
				background-position: top center;
				background-color: #000000;
			}
			
		 section {
				color: white;
				border-radius: 1em;
				padding: 1em;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%) 
			}
		</style>
	</head>
	<body>
			<section>
					<img src="/img/logo.png" alt="" title="">
			</section>
	</body>
</html>
